h1{
	font-size: 50px;
	letter-spacing: 0.1em;
	text-align: center;
	font-family: Georgia, Times, serif;
	color: rgb(126, 177, 183);

}

#omegaB{
    position: absolute;   
    top: 33.7%; 
    right: 1%;
}

#nuB{
    position: absolute;
    top: 60.5%;
    right: 1%;
}

#squattingB{
    position: absolute;
    top: 27%;
    right: 1%;
}

#offCampusB{
    position: absolute;
    top: 54%;
    right: 1%;

}
#traditionalB{
    position: absolute;
    top: 40.4%;
    right: 1%;
}

#themedB{
    position: absolute;
    top: 47%;
    right: 1%;
}

#houses{
    background-color:rgb(220, 228, 232);
}

#close{
    background-color:rgb(220, 228, 232);
}