body{
	background-color: rgb(255, 255, 255);
}
h1{
	font-size: 50px;
	letter-spacing: 0.1em;
	text-align: center;
	font-family: Georgia, Times, serif;
	color: rgb(126, 177, 183);
	font-weight: bold;
}

.jumbotron{
	padding-bottom: 30px;
}

#homeButton{
	position: absolute;
	font-family: Georgia;
	top:30%;
}

#dash {
	position: absolute;
	font-family: Georgia;
	top: 40%;
}


#appButton {
	position: absolute;
	font-family: Georgia;
	top: 50%;
}
#mapsButton {
	position: absolute;
	font-family: Georgia;
	top: 60%;
}

#rulesButton {
	position: absolute;
	font-family: Georgia;
	top: 70%;
	padding-bottom: 60px;
}